{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'cpi/favicon.ico' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'cpi/stylesheet.css' %}">
	<title>Projekti</title>
</head>
<body>
	<div class="menu-dropdown">
		<div class="menu-close-box"><img src="{% static 'cpi/X.png' %}"></div>
		<p class="menu-title">MENI</p>
		<ul class="menu-dropdown-list">
			<li class="list-item"><a href="{% url 'o-nama' %}">O NAMA</a></li>
			<li class="list-item"><a href="{% url 'cpi-projekti' %}">PROJEKTI</a></li>
			<li class="list-item" id="i-ture"><a href="{% url 'cpi-istorijske_ture' %}">ISTORIJSKE TURE</a></li>
			<li class="list-item"><a href="{% url 'cpi-publikacije' %}">PUBLIKACIJE</a></li>
		</ul>
		 {% if 'en' not in request.path %}
	        <ul class="nav-langs">
	            <li class="light"><a href="{{ url }}">SRB</a></li>
	            <li class="li-regular"><a href="/en{{ url }}">ENG</a></li>
	            <li class="form-box">
	        	    <form class="search-form" action="pretraga/" autocomplete="off">
			            <button class="magnifying-glass" type="submit">
			                <img src="{% static 'cpi/vektor.png' %}">
			            </button>
			            <input class="search-box-input" type="text" placeholder="Search" name="q">
			            <p class="input-off">X</p>
			        </form>
		        </li>
	        </ul>
	      {% else %}
	        <ul class="nav-langs">
	            <li class="li-regular"><a href="{{ url }}">SRB</a></li>
	            <li class="light"><a href="/en{{ url }}">ENG</a></li>
	            <li class="form-box">
	        	    <form class="search-form" action="#">
			            <button class="magnifying-glass" type="submit">
			                <img src="{% static 'cpi/vektor.png' %}">
			            </button>
			            <input class="search-box-input" type="text" placeholder="Search" name="q">
			            <p class="input-off">X</p>
			        </form>
		       </li>
	        </ul>
	    {% endif %}
	</div>

	<!----------------- NAV ----------------------------------------------------------->

	<nav style="width: 100%;">
		<a href="{% url 'cpi-naslovna' %}">
			<div class="logo-wrapper">
		        <div class="logo">
			        <div id="div1">
			          <p>C</p>
			          <img src="{% static 'cpi/Ellipse_1.png' %}">
			        </div>
			        <div id="div2">
			          <p>P</p>
			          <img class="tacka_2" src="{% static 'cpi/Ellipse_2.png' %}">
			        </div>
			        <div id="div3">
			          <p>I</p>
			          <img src="{% static 'cpi/Ellipse_3.png' %}">
			        </div>
	            </div>
	        </div>
            <div class="logo-white">
            	<img src="{% static 'cpi/cpi_logo.png' %}">
            </div>
        </a>
	    <ul class="nav-links">
	      <li class="o_nama">
	        <a href="{% url 'o-nama' %}">{% trans 'O NAMA' %}</a>
	        {% if 'o_nama' in request.path %}
	            <p class="onam1"></p>
	        {% else %}
	            <p class="onam2"></p>
	        {% endif %}
	      </li>
	      <li class="nav-projekti">
	        <a href="{% url 'cpi-projekti' %}">{% trans 'PROJEKTI' %}</a>
	        {% if 'projekti' in request.path %}
	            <p class="pro1"></p>
	        {% else %}
	            <p class="pro2"></p>
	        {% endif %}
	      </li>
	      <li class="h_tours">
	        <a href="{% url 'cpi-istorijske_ture' %}">{% trans 'ISTORIJSKE TURE' %}</a>
	        {% if 'istorijske_ture' in request.path %}
	            <p class="ist1"></p>
	        {% else %}
	            <p class="ist2"></p>
	        {% endif %}
	      </li>
	      <li class="publications">
	        <a href="{% url 'cpi-publikacije' %}">{% trans 'PUBLIKACIJE' %}</a>
	        {% if 'publikacije' in request.path %}
	            <p class="pub1"></p>
	        {% else %}
	            <p class="pub2"></p>
	        {% endif %}
	      </li>
	      <li id="langs">
	        <span id="langs-img"><img src="vektor.png"></span><span><a href="#">ENG</a></span><span><a href="#">SRB</span></a>
	      </li>
	    </ul>
	      {% if 'en' not in request.path %}
	        <div class="nav-langs">
	        	<div class="form-box">
	        	    <form class="search-form" action="pretraga/" autocomplete="off">
	        	  	    <input class="search-box-input" type="text" placeholder="Search" name="q">
			            <button class="magnifying-glass" type="submit">
			          	    <img src="{% static 'cpi/vektor.png' %}">
			            </button>
			        </form>
		        </div>
	            <div class="light"><a href="{{ url }}">SRB</a></div>
	            <div class="li-regular"><a href="/en{{ url }}">ENG</a></div>
	        </div>
	      {% else %}
	        <ul class="nav-langs">
	          <li class="form-box">
	        	  <form class="search-form" action="#">
	        	  	  <input class="search-box-input" type="text" placeholder="Search" name="q">
			          <button class="magnifying-glass" type="submit">
			          	<img src="{% static 'cpi/vektor.png' %}">
			          </button>
			      </form>
		       </li>
	          <li class="li-regular"><a href="{{ url }}">SRB</a></li>
	          <li class="light"><a href="/en{{ url }}">ENG</a></li>
	        </ul>
	      {% endif %}
	    </div>
	    <div class="burger" id="burger-alt">
	      <div class="line1"></div>
	      <div class="line2"></div>
	      <div class="line3"></div>
	    </div>
    </nav>

<!---------------- CONTENT------------------------------------------------------------------------------>

	<div class="container" id="publications-container" style="margin-bottom: 0px;">
		<div class="Publications-container">
			<div class="Publications_page_slider">
				{% if publikacije.count > 0 %}
	                {% if 'en' not in request.path %}
	                    {% for slide in slides %}
		                    <div class="Page_slide"> 
					            {% for box in slide %}
						            <div class="publikacija-box">
						            	<a href="{% url 'cpi-publikacije-detalji' box.id %}">
											<div class="publikacija">
												<div class="upper-part">
													<div class="top"></div>
													<div class="left_margin"></div>
													<div class="publication_image">
														<img src="{{ box.Slika.url }}">
													</div>
													<div class="right_margin"></div>	
												</div>
												<div class="lower-part">	
													<div class="publication-name"><a href="{% url 'cpi-publikacije-detalji' box.id %}">{{ box.Naslov }}</a></div>
													<div class="autor">{{ box.Autor }}</div>
													<div class="download">
													    <div class="link_text"><a href="">DOWNLOAD PDF</a></div>
													    <div class="link_strelica"><img src="{% static 'cpi/strelica.png' %}"></div>
												    </div>
												</div>	
											</div>
										</a>   
					                </div>
								{% endfor %}
						    </div>
						{% endfor %}
					{% else %}
					    {% for slide in slides %}
                            <div class="Page_slide">
					            {% for box in slide %}
								    <div class="publikacija-box">
								    	<a href="{% url 'cpi-publikacije-detalji' box.id %}">
											<div class="publikacija">
												<div class="upper-part">
													<div class="top"></div>
													<div class="left_margin"></div>
													<div class="publication_image">
														<img src="{{ box.Slika.url }}">
													</div>
													<div class="right_margin"></div>	
												</div>
												<div class="lower-part">	
													<div class="publication-name"><a href="{% url 'cpi-publikacije-detalji' box.id %}">{{ box.Naslov }}</a></div>
													<div class="autor">{{ box.Autor }}</div>
												</div>
											</div>
										</a>
					                </div>
								{% endfor %}
						    </div>
					    {% endfor %}
			        {% endif %}
				{% else %}
				    <h3>{% trans 'Trenutno nema publikacija.' %}</h3>
				{% endif %}
				<!-- <br class="clear"/>
 -->			</div> 
			<div class="controls-box-left"><img src="{% static 'cpi/crvena_strelica_rotated.png' %}"></div>
			<div class="controls-box-right"><img src="{% static 'cpi/crvena_strelica.png' %}"></div>
	    </div>
	    <div class="Publications-container-mobile">
            {% if publikacije.count > 0 %}
                {% if 'en' not in request.path %}
                    {% for publikacija in slidesX %}
	                    <div class="publication-block">
	                    	{% for item in publikacija %}
					            <div class="publikacija-box">
									<div class="publikacija">
										<div class="upper-part">
											<div class="top"></div>
											<div class="left_margin"></div>
											<div class="publication_image">
												<img src="{{ item.Slika.url }}">
											</div>
											<div class="right_margin"></div>	
										</div>
										<div class="lower-part">	
											<div class="publication-name"><a href="{% url 'cpi-publikacije-detalji' item.id %}">{{ item.Naslov }}</a></div>
											<div class="autor">{{ item.Autor }}</div>
											<div class="download">
											    <div class="link_text"><a href="">DOWNLOAD PDF</a></div>
											    <div class="link_strelica"><img src="{% static 'cpi/strelica.png' %}"></div>
										    </div>
										</div>
									</div>   
				                </div>
				            {% endfor %}
				        </div>
					{% endfor %}
					<div class="button" id="load-publications"><p>PRIKAŽI JOŠ</p></div>
				{% else %}
				    {% for publikacija in slidesX %}
				        <div class="publication-block">
	                    	{% for item in publikacija %}
							    <div class="publikacija-box">
									<div class="publikacija">
										<div class="upper-part">
											<div class="top"></div>
											<div class="left_margin"></div>
											<div class="publication_image">
												<img src="{{ item.Slika.url }}">
											</div>
											<div class="right_margin"></div>	
										</div>
										<div class="lower-part">	
											<div class="publication-name"><a href="{% url 'cpi-publikacije-detalji' item.id %}">{{ item.Naslov }}</a></div>
											<div class="autor">{{ item.Autor }}</div>
											<div class="download">
											    <div class="link_text"><a href="">DOWNLOAD PDF</a></div>
											    <div class="link_strelica"><img src="{% static 'cpi/strelica.png' %}"></div>
										    </div>
										</div>
									</div>   
				                </div>
				            {% endfor %}
				        </div>
				    {% endfor %}
				    <div class="button" id="load-publications"><p>SEE MORE</p></div>
		        {% endif %}
			{% else %}
			    <h3>{% trans 'Trenutno nema publikacija.' %}</h3>
			{% endif %}
		</div>
	</div>

<!----------------------------- FOOTER -------------------------------------------------------------->

	<div class="footer">
		<div class="footer-content">
		    <div class="content-box">
				<div class="inside-box1">
					<div class="inner1">
						<div class="i-left">
							<img src="{% static 'cpi/Rectangle62.png' %}">
						</div>
						<div class="i-right">
						    <a href="{% url 'o-nama' %}"><p>{% trans 'O nama' %}</p></a>
						</div>
					</div>
					<div class="inner2">
						<div class="i-left">
							<img src="{% static 'cpi/Rectangle62.png' %}">
						</div>
						<div class="i-right">
						    <a href="{% url 'cpi-projekti' %}"><p>{% trans 'Projekti' %}</p></a>
						</div>
					</div>
					<div class="inner3">
						<div class="i-left">
							<img src="{% static 'cpi/Rectangle62.png' %}">
						</div>
						<div class="i-right">
						    <a href="{% url 'cpi-istorijske_ture' %}"><p>{% trans 'Istorijske ture' %}</p></a>
						</div>
					</div>
					<div class="inner4">
						<div class="i-left">
							<img src="{% static 'cpi/Rectangle62.png' %}">
						</div>
						<div class="i-right">
						    <a href="{% url 'cpi-publikacije' %}"><p>{% trans 'Publikacije' %}</p></a>
						</div>
					</div>
					<div class="inner5">
						<div class="i-left">
							<img  src="{% static 'cpi/Rectangle62.png' %}">
						</div>
						<div class="i-right">
						    <p>{% trans 'Aktivnosti' %}</p>
						</div>
					</div>
				</div>
				<div class="inside-box2">
					<div class="title-box1">
						<div class="title-box1-text">
						    <p>{% trans 'Pratite nas' %}</p>
						</div>
					</div>
					<div class="social-box-upper">
						<div class="fb-box">
							<a href="https://www.facebook.com/cpi.cpi.90226/about?lst=586286136%3A100026784489324%3A1579600812"><img class="fb-regular" src="{% static 'cpi/fb-gray-logo.png' %}"></a>
							<a href="https://www.facebook.com/cpi.cpi.90226/about?lst=586286136%3A100026784489324%3A1579600812"><img class="fb-hover" src="{% static 'cpi/facebook.png' %}"></a>
						</div>
						<div class="tweeter-box">
							<img class="regular" src="{% static 'cpi/tweeter.png' %}">
							<img class="hover" src="{% static 'cpi/tweeter-red.png' %}">

						</div>
					</div>
					<div class="social-box-lower">
						<div class="instagram-box">
							<img class="outer-insta" src="{% static 'cpi/instagram.png' %}">
							<img class="inner-insta" src="{% static 'cpi/shape.png' %}">
							<img class="insta-hover" src="{% static 'cpi/Instagram-red.png' %}">
						</div>
						<div class="youtube-box">
							<img class="yt-1" src="{% static 'cpi/screen.png' %}">
							<img class="yt-2" src="{% static 'cpi/play.png' %}">
							<img class="yt-hover" src="{% static 'cpi/youtube-red.png' %}">
						</div>
					</div>
				</div>
				<div class="inside-box3">
					<div class="title-box2">
						<div class="title-box2-text">
						    <p>{% trans 'Kontakt' %}</p>
						</div>
					</div>
					<div class="contact-box">
						<div class="letter-img">
							<img src="{% static 'cpi/letter.png' %}">
						</div>
						<div class="address-address">
							<p>centarzaprimenjenuistoriju@gmail.com</p>
						   <!-- <p style="font-size: 1.171vw; font-family: Gilroy; font-style: normal; font-weight: 800; color: #E84F45; letter-spacing: 0.03em;"></p>-->
						</div>
					</div>
					<div class="tel-box">
						<div class="tel-box-img">
							<img src="{% static 'cpi/tel.png' %}">
						</div>
						<div class="num">
						    <p>+381 1 123 456</p>
						</div>
					</div>
					<div class="international-logo">
						<img src="{% static 'cpi/ICSC_logo.png' %}">
					</div>
				</div>
				<div class="inside-box4">
					<div class="address-box">
						<div class="adresa">
						    <p>{% trans 'Adresa' %}</p>
						</div>
					</div>
					<div class="address-text">
						<div class="street-city">
						    <p>Balkanska 35-39, Beograd</p>
						</div>
					</div>
					<div class="floor-doors">
						<div class="wrapp">
						    <p>3. sprat, kancelarija 7</p>
						</div>
					</div>
				</div>
            </div>
		</div>
        <div class="footer-content-mobile">
			<div class="info-contact">
				<div class="address">
					<p class="address-title">Adresa</p>
					<p class="address-address">Balkanska 35-39, Beograd 3. sprat, kancelarija 7</p>
				</div>
				<div class="kontakt">
					<p class="kontakt-title">Kontakt</p>
					<p class="email">centarzaprimenjenuistoriju@gmail</p>
					<p class="phone">+381 1 234 567</p>
				</div>
				<br style="clear: both;">
			</div>
			<div class="follow_us">
				<div class="title-box1">
					<div class="title-box1-text">
					    <p>{% trans 'Pratite nas' %}</p>
					</div>
				</div>
				<div class="social-box-upper">
					<div class="fb-box">
						<a href="https://www.facebook.com/cpi.cpi.90226/about?lst=586286136%3A100026784489324%3A1579600812"><img class="fb-hover" src="{% static 'cpi/facebook.png' %}"></a>
					</div>
					<div class="tweeter-box">
						<img class="hover" src="{% static 'cpi/tweeter-red.png' %}">
					</div>
				</div>
				<div class="social-box-lower">
					<div class="instagram-box">
						<!-- <img class="outer-insta" src="{% static 'cpi/instagram.png' %}">
						<img class="inner-insta" src="{% static 'cpi/shape.png' %}"> -->
						<img class="insta-hover" src="{% static 'cpi/Instagram-red.png' %}">
					</div>
					<div class="youtube-box">
						<!-- <img class="yt-1" src="{% static 'cpi/screen.png' %}">
						<img class="yt-2" src="{% static 'cpi/play.png' %}"> -->
						<img class="yt-hover" src="{% static 'cpi/youtube-red.png' %}">
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom" style="color:#FFFFFF;">
			<img class="desktop-image" src="{% static 'cpi/Copyright.png' %}" style="margin-top: 4vh; margin-left: 2vw;">
			<img class="mobile-image1" src="{% static 'cpi/copyright-mobile.png' %}">
			<img class="mobile-image2" src="{% static 'cpi/up-arrow.png' %}">
		</div>
	</div>
    <script src="{% static 'cpi/app.js' %}"></script>
    <script src="app2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
    	$('.Publications_page_slider').slick({
			slidesToShow: 1,
			slidesToScroll: 1,	
			infinite: false,
			arrows: true,
			dots: true,
			prevArrow: $('.controls-box-left'),
			nextArrow: $('.controls-box-right')
    	});
    	// $slickSlider.find(".Page_slide").height("auto");
     //    $slickSlider.slickSetOption(null, null, true);
    </script> 

    <script>
		$(document).ready(function(){
			$('.menu-close-box').click(function() {
			    $('.menu-dropdown').css('transform', "translateX(100%)");
			});	
		});
    </script>

    <script>
		$(document).ready(function(){
			$('.burger').click(function() {
			    $('.menu-dropdown').css('transform', "translateX(0%)");
			});	
		});
    </script>
    <script>
		$(document).ready(function(){
			$('.magnifying-glass').hover(function() {
			    $('.search-box-input').css('visibility', "visible");
			});	
		});

    </script>
    <script>
		$(document).ready(function(){
			$('.magnifying-glass').hover(function() {
			    $('.search-box-input').css('display', "block");
			});	
		});

    </script>
     <script>
		$(document).ready(function(){
			$('nav').mouseleave(function() {
			    $('.search-box-input').css('visibility', "hidden");
			});	
		});

    </script>
     <script>
		$(document).ready(function(){
			$('.magnifying-glass').hover(function() {
			    $('.input-off').css('display', "block");
			});	
		});
    </script>
    <script>
		$(document).ready(function(){
			$('.Publications-container-mobile .publikacija-box .publikacija').hover(function() {
			    $('.Publications-container-mobile .publikacija-box').css('padding-top', "10px");
			});	
		});
    </script>

    
     <script>
		$(document).ready(function(){
			$('.input-off').click(function() {
			    $('.search-box-input').css('display', "none");
			});	
		});
    </script>
     <script>
		$(document).ready(function(){
			$('.input-off').click(function() {
			    $('.input-off').css('display', "none");
			});	
		});
    </script>
    <script>
    	$('.Publications-container-mobile .publication-block').slice(0,1).show();

    	if($('.Publications-container-mobile .publication-block:hidden').length === 0) {
                $('#load-more').fadeOut();
            }

    	$('#load-publications').on('click', function() {
            $('.Publications-container-mobile .publication-block:hidden').slice(0,1).slideDown();
            if($('.Publications-container-mobile .publication-block:hidden').length === 0) {
                $('#load-publications').fadeOut();
            }
        });
    </script>
</body>
</html>